<li>
  <h2 class="lst-heading"><%= link_to article.title, article_path(article) %></h2>
  <p class="text-right"><%= article.created_at %></p>
  <div class="text">
    <%= simple_format(article.text) %>
  </div>
  <ul class="list-inline">
    <li><%= link_to '編集', edit_article_path(article), role: 'button', class: 'button size-sm' %></li>
    <li><%= link_to '削除',      article_path(article), role: 'button', class: 'button size-sm',
      method: :delete,
      data: { confirm: '削除してもよろしいですか？' }
    %></li>
  </ul>
</li>
