<h1>記事一覧</h1>

<ul class="list-articles">
  <% @articles.each do |article| %>
    <li>
      <h2 class="lst-heading"><%= link_to article.title, article_path(article) %></h2>
      <div class="text">
        <%= simple_format(article.text) %>
      </div>
      <ul class="list-inline">
        <li><%= link_to '編集', edit_article_path(article), role: 'button', class: 'button size-sm' %></li>
        <li><%= link_to '削除',      article_path(article), role: 'button', class: 'button size-sm',
          method: :delete,
          data: { confirm: '削除してもよろしいですか？' }
        %></li>
      </ul>

    </li>
  <% end %>
</ul>

<hr>

<ul>
  <li><%= link_to 'トップページ', root_url %></li>
  <li><%= link_to '記事を作成', new_article_path %></li>
</ul>
