<article class="article">
  <header>
    <h1><%= @article.title %></h1>
    <ul class="list-inline">
      <li><%= link_to '編集', edit_article_path(@article), role: 'button', class: 'button size-small' %></li>
      <li><%= link_to '削除',      article_path(@article), role: 'button', class: 'button size-small',
        method: :delete,
        data: { confirm: '削除してもよろしいですか？' }
      %></li>
    </ul>
  </header>

  <div class="text">
    <%= simple_format(@article.text) %>
  </div>

  <section class="block-comment">
    <h2 class="blc-heading">コメント</h2>
<% if !@article.comments.empty? %>
<%= render @article.comments %>
<% else %>
    <p>まだコメントがありません</p>
<% end %>

    <section class="block-comment-add">
<%
      # <h3 class="blc-heading">コメントを書く</h3>
%>
<%= render "comments/form" %>

    </section>
  </section>

</article>

<hr>

<ul>
  <li><%= link_to '一覧に戻る', articles_path %></li>
</ul>
