<article class="article">
  <header>
    <h1><%= @article.title %></h1>
    <ul class="list-inline">
      <li><%= link_to '編集', edit_article_path(@article), role: 'button', class: 'button' %></li>
      <li><%= link_to '削除',      article_path(@article), role: 'button', class: 'button',
        method: :delete,
        data: { confirm: '削除してもよろしいですか？' }
      %></li>
    </ul>
  </header>

  <div class="text">
    <%= simple_format(@article.text) %>
  </div>

  <section>
    <h2 class="h2-block">コメント</h2>
<% if !@article.comments.empty? %>
    <div class="block-comments">
<%= render @article.comments %>
    </div>
<% else %>
    <p>まだコメントがありません</p>
<% end %>

    <section>
<%
      # <h3 class="blc-heading">コメントを書く</h3>
%>
<%= render "comments/form" %>

    </section>
  </section>

</article>

<hr>

<ul>
  <li><%= link_to '一覧に戻る', articles_path %></li>
</ul>
