<article class="article">
  <header>
    <h1><%= @article.title %></h1>
    <ul class="list-inline">
      <li><%= link_to '編集', edit_article_path(@article), role: 'button', class: 'button size-small' %></li>
      <li><%= link_to '削除',      article_path(@article), role: 'button', class: 'button size-small',
        method: :delete,
        data: { confirm: '削除してもよろしいですか？' }
      %></li>
    </ul>
  </header>

  <div class="text">
    <%= simple_format(@article.text) %>
  </div>

  <section class="block-comment">
    <h2 class="blc-heading">コメント</h2>

    <% @article.comments.each do |comment| %>
      <article>
        <dl>
          <dt><%= comment.commenter %></dt>
          <dd><%= simple_format(comment.body) %></dd>
        </dl>
      </article>
    <% end %>

    <section class="block-comment-add">
      <%
      # <h3 class="blc-heading">コメントを書く</h3>
      %>
      <%= form_for ([@article, @article.comments.build]) do |f| %>

        <dl>
          <dt><%= f.label :commenter %></dt>
          <dd><%= f.text_field :commenter %></dd>
          <dt><%= f.label :body %></dt>
          <dd><%= f.text_area :body %></dd>
        </dl>

        <p>
          <%= f.submit value: "コメントを投稿", role: "button", class: "button" %>
        </p>
      <% end %>
    </section>
  </section>

</article>

<hr>

<ul>
  <li><%= link_to '一覧に戻る', articles_path %></li>
</ul>
